*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */

.background-pattern{
    background-color: rgb(16, 171, 255);
    height: 130px;
    background-image: url(../img/pattern.png);
    background-size: 530px;
}

.logo{
width: 230px;
padding-top: 60px;
padding-left: 15px;
padding-right: 15px;
}

/* MAIN */

/* TITOLO-SOTTOTITOLO */
.titolo{
    padding-left: 15px;
    margin-top: 20px;
    font-size: 40px;
    padding-right: 15px;
}

.sotto-titolo{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.gray{
    color: rgb(162, 162, 162);
    font-size: 18px;
}

.gray-2{
    color: rgb(162, 162, 162);
    font-size: 13px;
}

.light-blue{
    color: rgb(0, 221, 255);
}

/* IMAGES */
.tim-images{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

.title-images{
    font-size: 13px;
}

/* PARAGRAFO E LISTA */
.paragrafo{
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

.showed{
    background-color: yellow;
}

.lista{
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 25px;
    font-size: 15;
}

/* TABELLA */
.tabella{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

/* PARAGRAFO-2 */
.paragrafo-2{
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

 /* FOOTER */

 .post-titolo{
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(162, 162, 162);
    font-size: 18px;
    margin-top: 25px;
 }

 .monitor{
    background-image: url(../img/monitor.jpg);
    margin-top: 10px;
    width: 270px;
    height: 200px;
    margin-left: 15px;
    padding-right: 15px;
 }

 .grafico{
    background-image: url(../img/graph.jpg);
    margin-top: 10px;
    width: 270px;
    height: 200px;
    margin-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
 }

 .lorem-white-2{
    color: white;
    padding: 10px;
    font-size: 25px;
 }